.banner {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    position: relative;
    height: 150px;
    margin-bottom: 20px;
}

.banner img {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    height: 100%;
    width: 100%;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 25px;
}


.banner h1 {
    position: absolute;
    color: #FFFFFF;

}