header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin: 30px 50px 10px 50px;
}

header ul {
    list-style: none;
    padding: 0px;
    display: flex;
}

header ul li {
    display: inline-block;
    margin-left: 30px;
    font-weight: 500;
    size: 24px;
}

header a:hover {
    text-underline-offset: 4px;
}

header .active {
    text-decoration: underline;
    text-underline-offset: 4px;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    header {
        padding-bottom: 10px;
        margin: 20px 10px 10px 10px;
    }
    
    .logoKasa {
        width: 145px;
        height: 47px;
    }

    header ul li {
        size: 24px;
        text-transform: uppercase;
    }
}