.rating {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.rating img {
    margin-left: 15px;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .rating img {
        margin-left: 0;
        margin-right: 15px;
    }
}