/*Carroussel*/
.logImage {
    height: 415px;
    display: flex;
    justify-content: center;
    position: relative;
}
.logImage .slider {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
}

.logement button {
    all: unset;
    cursor: pointer;
}

.logImage .arrow {
	position: absolute;
}

.logImage .arrowForward {
	right: 0.5%;
}

.sliderText {
    position: absolute;
    align-self: flex-end;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
}


/*Description*/
.logSubFirstSec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.logDetails h1 {
    color: #FF6060;
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}
.logDetails p {
    font-weight: 500;
    margin: 0;
}

.logTags {
    list-style: none;
    padding: 0px;
    display: flex;
}
.logTags li {
    display: inline-block;
    margin-right: 15px;
    padding: 5px 5px;
    min-width: 115px;
    background-color:#FF6060;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    text-align: center;    
}

.logHostRating {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.logHost {
    display: flex;
    justify-content: flex-end;
}
.logHost p{
    width: 40%;
    color: #FF6060;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    text-align: right;

}
.logHost img{
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-left: 10px;
}

.logSecondSec {
    display: flex;
    gap: 50px;
    margin-top: 10px;
    justify-content: space-between;
}

.logSecondSec .collapse {
    width: 50%;
}

/* Small devices (phones, less than 768px) */
/*Carroussel*/
@media (max-width: 767.98px) {
    .logImage {
        height: 255px;
    }

    .logImage .arrow {
        width: 24px;
        height: 24px;
    }

    .logImage .arrowBack {
	    left: 10px;
    }
    .logImage .arrowForward {
	    right: 10px;
    }

    .sliderText {
        display: none;
    }
}

/* Small devices (phones, less than 768px) */
/*Description*/
@media (max-width: 767.98px) {
    .logSubFirstSec {
        flex-wrap: wrap;
    }

    .logDetails h1 {
        font-size: 18px;
    }
    .logDetails p {
        font-size: 14px;
        padding-top: 10px;
    }

    .logTags li {
        min-width: 84px;
        font-size: 10px;
    }

    .logHostRating {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        margin: 15px 0;
    }

    .logSecondSec {
        flex-wrap: wrap;
        gap: 20px;
    }
    .logSecondSec .collapse {
    width: 100%;
}
}
